@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@500;700;900&display=swap');

body{
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #181818;
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: 'Roboto', sans-serif;    
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: .3rem;
}